{% extends "loginbase.html" %}

{% block content %}
        <h2>Log In</h2>
        <hr>
        <div id='login-box' class='container'>
            <form role='form' method="POST" action="/login">
                {{ form.hidden_tag() }}
                <div class='form-group'>
                    <div class='row btm-margin'>
                        <div class='col-md-3 lbl-horizon'>
                            <strong>Email:</strong>
                        </div>
                        <div class='col-md-9'>
                        <!--<input id='email' type='text' class='form-control'>-->
                            {{ form.email(class_="form-control") }}
                        </div>
                    </div>
                    <div class='row btm-margin'>
                        <div class='col-md-3 lbl-horizon'>
                            <strong>Password:</strong>
                        </div>
                        <div class='col-md-9'>
                        <!--<input id='password' type='password' class='form-control'>-->
                            {{ form.password(class_="form-control") }}
                        </div>
                    </div>
                </div>
                <div class='flex-right btm-margin'>
                <button class='btn btn-primary' type='submit'>Sign In</button>
                </div>
            </form>
            <!--<button class='btn btn-success' onclick='signIn();'>Sign In</button>-->
            <div class='flex-right'>
            <button class='btn btn-success' onclick="window.location = '/register';">Register</button>
            </div>
        </div>
{% endblock %}